* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: Raleway, system-ui, -apple-system, sans-serif;
  background: #fbf1ea;
  min-height: 100vh;
}
.nav-links a {
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  font-size: 80%;
  color: #000;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background: #fff;
  padding: 10px;
  transform: ease-in-out 1000ms;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.login {
  font-size: 70%;
  background: transparent;
  color: #ec7425;
  border: 2px solid #ec7425;
  border-radius: 12px;
  padding: 6px 10px;
  transform: ease-in-out 1000ms;
}
.hero-section {
  /* margin-top: 50px; */
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.orange {
  color: #ec7425;
  font-size: 100%;
}
.article-section h5 {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 60%;
}
.article-section h2 {
  font-size: 290%;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3em;
}
.brand-motto {
  font-size: 70%;
  text-transform: capitalize;
  margin-top: 10px 0 0 0;
  font-weight: 200;
}
.image-section img {
  width: 100%;
  max-width: 650px;
  margin-top: 10px;
}
.get-started-btn {
  background-color: #ec7425;
  border: none;
  font-size: 90%;
  padding: 10px 13px;
  margin-top: 30px;
  font-size: 80%;
  color: #fff;
  border-radius: 7px;
  transition: 500ms;
}
.get-started-btn:hover {
  background: #c5550a;
}

/* ----------side bar------------- */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  height: 100vh;
  z-index: 999;
  background-color: #ffffff2e;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  backdrop-filter: blur(10px);
  font-weight: 500;
}

.sidelinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sidelinks a {
  /* margin-bottom: 15px; */
  padding: 17px;
  text-decoration: none;
  color: #000;
  width: 100%;
  font-size: 90%;
  border-bottom: 1px solid #c5550a;
}
.sidelinks a:active {
  color: #163d7543;
}
.sidebar-login {
  font-size: 70%;
  background: transparent;
  color: #ec7425;
  border: 2px solid #ec7425;
  border-radius: 12px;
  padding: 6px 10px;
  transform: ease-in-out 1000ms;
  margin-left: 8px;
  margin-top: 14px;
}
.sidebar-login:hover {
  background: #ec7425;
  color: #fff;
  cursor: pointer;
}
.sidelinks a:hover {
  color: #1b4581;
  background-color: #6adcff20;
}
.fa-bars {
  display: none;
}
.fa-x {
  width: 100%;
  margin: 10px 50px 13px 0;
  text-align: right;
  padding-right: 20px;
  font-size: 150%;
}
/* -------------------navlinks active---------------- */
.nav-links a:hover {
  background: #d1dae6;
  padding: 10px;
  border-radius: 7px;
  color: #081b29;
  text-decoration: double;
}
.login:hover {
  background: #ec7425;
  color: #fff;
  cursor: pointer;
}

/* --------------------------------------------- */
/* -------------ACHIEVMENT SECTION---------------*/
/* --------------------------------------------- */
.achievement-container {
  border-radius: 80px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
  position: relative;
  z-index: 2;
  background: #fff;
}
.image-container img {
  width: 100%;
  max-width: 400px;
}
.achievement-article p {
  width: 100%;
  max-width: 500px;
  line-height: 1.7em;
}
.achievement-article {
  background-color: #fff;
}
.achievement-article h3 {
  padding-bottom: 8px;
}
.experience-all-btn {
  font-size: 80%;
  background: #ec7425;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 9px 12px;
  margin-top: 20px;
}
.ellipse-image {
  position: absolute;
  right: 0;
  bottom: 90px;
  width: 100%;
  max-width: 60px;
}

/* ---------------------------------- */
/* ---------------Improvement section---------- */
/* ---------------------------------- */
.improvement-container {
  background: #122e56;
  text-align: center;
  color: #fff;
  border-radius: 50px 50px 0 0;
  padding-bottom: 50px;
}
.improvement-heading {
  padding-top: 40px;
  font-size: 130%;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-items {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 60px;
}
.flex-items h3 {
  font-size: 104%;
}
.flex-items p {
  font-size: 88%;
}
.flex-items svg {
  margin-bottom: 12px;
}
.flex-items p {
  line-height: 1.6em;
}

/* --------------------------------------------------------- */
/* -----------------------OUR PRODUCTS------------- */
/* --------------------------------------------------------- */
.our-product-container {
  margin-top: 50px;
}
.row-container {
  display: flex;
  justify-content: space-around;
}
.our-product-sub-heading {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 90%;
}

.our-product-heading {
  font-size: 180%;
  text-align: center;
  padding-bottom: 10px;
}
.spans {
  width: 100%;
  max-width: 361px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.spans h3 {
  padding-left: 6px;
  padding-top: 12px;
}
.spans p {
  font-size: 87%;
  padding: 12px 0;
  line-height: 1.5;
  padding: 0 6px;
}
.span-btn {
  padding: 8px 14px;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 600;
  border: 2px solid #081b29;
  border-radius: 8px;
  background: #d1dae680;
  color: #1b4581;
  margin-top: 13px;
  margin-left: 6px;
  margin-bottom: 10px;
  /* margin: 13px 13px 6px 0; */
}

/* -------------------------------------------------- */
/* -----------------OUR LEARNER SECTION------------------- */
/* -------------------------------------------------- */
.learner-container {
  background: #d1dae6;
  position: relative;
}
.flex-learning-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.learners-heading {
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.color {
  color: #1b4581;
}
.span-image-container img {
  width: 50px;
  border-radius: 100%;
}
.learn-span {
  display: flex;
  background: #fff;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  align-items: center;
  border-radius: 8px;
}
.learn-col-1 > div {
  margin: 40px 0;
}
.learn-span h3 {
  font-size: 100%;
}
.learn-span p {
  font-size: 60%;
}
.stars i {
  color: #f8b84e;
}
.rating-section p {
  width: 100%;
  max-width: 462px;
  font-size: 70%;
  line-height: 1.6em;
  padding-top: 20px;
}
.shadow-frame {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}
.rating-section h4 {
  padding-bottom: 14px;
}
.expert-image img {
  width: 100%;
  max-width: 130px;
}
.expert-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expert-list-container > div {
  margin-right: 60px;
}
.expert-image p {
  font-size: 70%;
}
.expert-image h4 {
  font-size: 90%;
}
.expert-image {
  text-align: center;
}
.experts-container span {
  color: #ec7425;
}
.experts-container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 150%;
}
.experts-container {
  margin-top: 60px;
}

footer {
  background: #2f1707;
  margin-top: 20px;
  color: #fff;
  padding-top: 30px;
  position: relative;
}
footer h3 {
  text-align: center;
  font-size: 150%;
}
.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  background: #fff;
  margin: 16px auto 0 auto;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 7px;
  font-size: 70%;
  background: #ec7425;
  border: none;
  color: #fff;
  width: 157px;
  transition: 500ms;
  font-weight: 600;
}
.subscribe-btn:hover {
  background: #c15914;
}
input {
  background: transparent;
  border: none;
  outline: none;
  font-family: Raleway, sans-serif;
  width: 200px;
  padding: 16px 0 15px 20px;
}
.footer-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
}
.footer-container p {
  font-size: 70%;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer-logo-container img {
  width: 100%;
  max-width: 140px;
}
.footer-logo-container p {
  font-size: 70%;
}
.footer-child-container h5 {
  margin-bottom: 20px;
}

/* ================= ANIMATIONS ================= */

/* Page load animation */
.hero-section,
.achievement-container,
.improvement-container {
  transform: translateY(40px);
  transition: all 0.8s ease-in-out;
}

/* When visible */
.show-section {
  opacity: 1;
  transform: translateY(0);
}

/* Nav mobile animation */
.nav-links {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.nav-links.active {
  transform: translateX(0);
  opacity: 1;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: #fff;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
  .nav-links,
  .login {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .nav-links.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  .article-section h2 {
    font-size: 200%;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .image-section img {
    text-align: center;
    margin: auto;
  }
  .achievement-container {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    padding: 10px;
  }
  .image-container img {
    width: 350px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }
  .flex-learning-container {
    display: flex;
    flex-direction: column;
  }
  .span-image-container img {
    width: 50px;
    border-radius: 100%;
  }
  .expert-image p {
    font-size: 60%;
  }
  .expert-image img {
    width: 100%;
    max-width: 90px;
  }
  .expert-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expert-list-container > div {
    margin-right: 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-container > div {
    margin-top: 20px;
  }
  .hero-section {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .hidenav {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .maxhide {
    display: none;
  }
}
/* @media (max-width: 950px){
  .phonelink{
    display: none;
  }
} */
